<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<div th:insert="header.html"></div>
<div class="container">
    <h2 class="py-3" >Product Form</h2>
    <h2 class="py-3" th:if="${id!=null}">Product update Form</h2>
<form method="post" th:action="@{/product/add}" th:object="${product}">
    <div class="mb-3">
        <label class="form-label" for="name" id="name">Product</label>
<!--        <input type="text" class="form-input" placeholder="Name" th:field="*{name}">-->
    </div>
</form>

</div>
<div th:insert="footer.html.html"></div>

<!--</body>-->
<!--</html>-->